.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    @media screen and (max-width:1024px) {
        width: 100%;
        gap:31px;
    }
    @media screen and (max-width:768px) {
        gap:22px;
    }

}
.card_container{
    width: 100%;
    background-color:#F6F6F6;
    border-radius: 25px;
    padding:56px 50px 43px 50px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:50px;
    grid-column-gap:60px;
    @media screen and (max-width:1024px) {
        grid-template-columns: 1fr 1fr;
        grid-row-gap:30px;
        grid-column-gap:40px;
        padding:26px 30px 13px 30px ;

    }
    @media screen and (max-width:768px) {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        background-color: #FFFFFF ;
        padding: 0;
    }
}