.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.card_container{
    width: 1240px;
    background-color:#F6F6F6;
    border-radius: 25px;
    padding:56px 50px 43px 50px ;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap:50px;
    grid-column-gap:60px;
}