body{
    max-width: 1440px;
    display: flex;
	flex-direction: column;
	font-family: 'Montserrat';
    background-color:#FFFFFF ;
}
#root{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:50px;

}