.tags{
    display: flex;
    gap:0.625rem;
    height: 25px;
    margin-bottom: 24px;
    @media screen and (max-width:1024px) {
        margin-bottom: 20px;
        
    }
    @media screen and (max-width:768px) {
      margin-bottom: 16px;
        
    }

    .tag{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FF6060;
        color:#FFFFFF;
        font-size:0.875rem;
        font-weight: 700;
        border-radius: 10px;
        height: 100%;
        padding:0px 30px;
        @media screen and (max-width:1024px) {
            font-size: 0.75rem;
            max-height: 22px;
            
        }
        @media screen and (max-width:768px) {
           font-size: 0.625rem;
           max-height: 18px;
            
        }
    }
}