.header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 68px;
    margin-top: 45px;

    @media screen and (max-width:1024px) {
        height: 46.88px;
        margin-top: 30px;
        max-width: 984px;
        gap:10px;
    }

    @media screen and (max-width:768px){
        gap:10px;
        height: 46.88px;
        margin-top: 20px;
        gap:10px;
        max-width: 335px;
    }

    img{
        width: 210.32px;
        height: 68px;
        
        @media screen and (max-width:1024px) {
            width: 178px;
            height: 58px;
        }
        @media screen and (max-width:768px) {
            width: 145px;
            height: 46.88px;
        }
    }
    nav{
        ul{
            display: flex;
            gap: 57px;
            @media screen and (max-width:1024px) {
                gap:42px;
            }
            @media screen and (max-width:768px) {
                gap:16px;
            }
           a{
            text-decoration: none;
            color:#000000 ;
            font-size: 1.5rem;
            &.underline{
                text-decoration: underline;
            }
            @media screen and (max-width:1024px) {
                font-size: 1.125rem;
            }
            @media screen and (max-width:768px) {
                font-size: 0.75rem;
            }
           }
           li{
            display: flex;
            justify-content: space-between;
        }
           
        }
        
    }

}